.container{
    margin-top: 6rem;
    width: 100%;
    min-height: 85vh;
    
}

.loadingDiv{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



